.moviecard {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 10px 5px #e1e1e1;
  width: 95%;
  height: 400px;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  position: relative;
  cursor: pointer;
}

.moviecard .movieimg {
  object-fit: contain;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px;
  position: relative;
}

.moviecard .movieimg .rating {
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  padding: 5px;
}

.moviecard .movieimg .rating .start {
  color: var(--col1);
}

.moviecard .details{
  padding: 5px 10px;
}

.moviecard .details .title{
  font-size: 16px;
  font-weight: 600;
}


.moviecard .details .type{
  font-size: 12px;
  font-weight: 600;
  color: grey;
}